* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #FBFBFB !important;
}

.backdrop{
  background: linear-gradient(#9D0E0E10, rgba(47, 5, 5, 0.8));
}

.bg-white-800{
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-black-800{
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-black-700{
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-black-600{
  background-color: rgba(0, 0, 0, 0.6);
}

.max-h-4{
  max-height: 300px;
}

.max-w-100{
  max-width: 100%;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.fs-14{
  font-size: 0.875rem;
}

@media (width >= 786px) {
  .fs-md-6{
    font-size: 16px !important;
  }
}

.-z-20{
  z-index: -20;
}
.-z-10{
  z-index: -10;
}
.z-0{
  z-index: 0;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.z-30{
  z-index: 30;
}

.outline-none{
  outline: none;
}

.-mb-2{
  margin-bottom: -2px;
}

.px-sm-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* @media (width >= 786px) {
  .px-sm-0{
    padding: auto !important;
  }
} */


#login:hover{
  color: #dc3545 !important;
  border-bottom: 2px solid #dc3545 !important;
  transition: 0.15s;
}

#register{
  min-width: 200px !important;
  cursor: pointer;
  transition: 0.15s;
}

#register:hover{
  background-color: white !important;
  color: #dc3545 !important;
  transition: 0.15s;
}

.hover-white-red:hover{
  background-color: white !important;
  color: #dc3545 !important;
  transition: 0.15s;
}

.searchItem{
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 160px;
  padding: 0 !important;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.15s;
}


.searchItem img{
  min-width: 45%;
  height: 160px;
  object-fit: cover;
}

.searchItem div h5{
  font-size: 18px;
}
.searchItem p{
  font-size: 13px;
  font-weight: normal;
}

.searchItem:hover{
  transform: scale(1.025);
  transition: 0.15s;
}

.object-cover{
  object-fit: cover !important;
}

@media (width<=769px) {

  #inpLocation{
    min-width: 37px;
  }
}

.searchResultImg{
  height: 43px; 
  width: 43px; 
}


.restNavHeader{
  height: 60px;
}

.restaurantCoverImage{
  height: 190px;
}


.carouselItem{
  display: flex;
  height: 300px;
  justify-content: center;
}


@media (width >= 768px) {
  .restNavHeader{
    height: 80px;
  }
  .restaurantCoverImage{
    height: 360px;
  }
  .carouselItem{
    height: 500px;
  }
}