@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #FBFBFB !important;
  font-family: 'Poppins', sans-serif !important;
}

.backdrop{
  background: linear-gradient(#9D0E0E10, rgba(47, 5, 5, 0.8));
}

.bg-white-800{
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-black-800{
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-black-700{
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-black-600{
  background-color: rgba(0, 0, 0, 0.6);
}

.shadow-md{
  box-shadow: 0px 3px 10px 1px rgb(0 0 0 / 20%);
}


.h-300{
  height: 300px;
}

.max-h-4{
  max-height: 300px;
}

.min-h-650{
  min-height: 650px;
}

.max-w-100{
  max-width: 100%;
}

.max-w-550{
  max-width: 550px;
}



.max-h-500{
  max-height: 500px;
}
.max-h-600{
  max-height: 600px;
}

.square-18{
  width: 18px;
  height: 18px;
}
.square-20{
  width: 20px;
  height: 20px;
}

.square-36{
  width: 36px;
  height: 36px;
}

.square-120{
  width: 120px;
  height: 120px;
}

.square-90{
  width: 90px;
  height: 90px;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.fs-14{
  font-size: 0.875rem;
}

.fs-18{
  font-size: 18px;
}

.fs-md-1{
  font-size: 20px
}

.max-h-400{
  max-height: 400px !important; 
}



@media (width < 768px) {

  .h-mobile-100{
    height: 100% !important;
  } 

  .max-w-mobile-100{
    max-width: 100% !important; 
  }
  .max-h-mobile-100{
    max-height: 100% !important; 
  }

  .position-sm-fixed{
    position: fixed !important;
  }

  .px-md-auto{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .max-w-md-auto{
    max-width: 100% !important;
  }
  
  .mx-md-auto{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .w-sm-auto{
    max-width: 100% !important;
  }
  .position-abs-md-block{
    position: absolute !important;
  }
  
}

.max-w-xl{
  max-width: 1200px !important;
}



@media (width >= 768px) {
  .fs-md-6{
    font-size: 16px !important;
  }
  .fs-md-1{
    font-size: 36px !important;
  }
  .max-w-md-sm{
    max-width: 260px;
  }
  .max-w-md-550{
    max-width: 550px;
  }
  .max-w-md-100{
    max-width: 100% !important;
  }
}



.-z-20{
  z-index: -20;
}
.-z-10{
  z-index: -10;
}
.z-0{
  z-index: 0;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.z-30{
  z-index: 30;
}

.outline-none{
  outline: none;
}

.-mb-2{
  margin-bottom: -2px;
}

.mb-10px{
  margin-bottom: 10px;
}

.mt-36{
  margin-top: 36px;
}
.mb-36{
  margin-bottom: 36px;
}

.px-35{
  padding-left: 35px;
  padding-right: 35px;
}

.py-25{
  padding-top: 25px ;
  padding-bottom: 25px ;
}

.pb-30{
  padding-bottom: 30px;
}

.ps-30{
  padding-left: 30px;
}

.p-10px{
  padding: 10px;
}

.px-sm-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}



#login:hover{
  color: #dc3545 !important;
  border-bottom: 2px solid #dc3545 !important;
  transition: 0.15s;
}

#register{
  min-width: 200px !important;
  cursor: pointer;
  transition: 0.15s;
}

#register:hover{
  background-color: white !important;
  color: #dc3545 !important;
  transition: 0.15s;
}

.hover-white-red:hover{
  background-color: white !important;
  color: #dc3545 !important;
  transition: 0.15s;
}

.searchItem{
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 160px;
  padding: 0 !important;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.15s;
}


.searchItem img{
  min-width: 45%;
  height: 160px;
  object-fit: cover;
}

.searchItem div h5{
  font-size: 18px;
}
.searchItem p{
  font-size: 13px;
  font-weight: normal;
}

.searchItem:hover{
  transform: scale(1.025);
  transition: 0.15s;
}

.object-cover{
  object-fit: cover !important;
}

@media (width < 768px) {

  #inpLocation{
    min-width: 37px;
  }
}

.searchResultImg{
  height: 43px; 
  width: 43px; 
}


.restNavHeader{
  height: 60px;
}

.restaurantCoverImage{
  height: 190px;
}


.carouselItem{
  display: flex;
  height: 250px;
  justify-content: center;
}


@media (width >= 768px) {
  .restNavHeader{
    height: 80px;
  }
  .restaurantCoverImage{
    height: 360px;
  }
  .carouselItem{
    height: 500px;
  }
}


.checkmark{
  width: 18px;
  height: 18px;
  border: 1.5px solid #3A5075;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 0;
  transition: 0.1s;
}

.cuisine:hover input ~ .checkmark{
  background-color: #00000020;
}
.cuisine input:checked ~ .checkmark {
  background-color: #3A5075;
  transition: 0.1s;
}

.radioCircle{
  border: 1.5px solid #192F60;
  background-color: white;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.radioInnerCircle{
  position: absolute;
  left: 2.5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.cost input:checked ~ .radioInnerCircle{
  background-color: #192F60;
  transition: 0.2s;
}

.cost:hover .radioInnerCircle{
  background-color: #00000020;
}

.sort input:checked ~ .radioInnerCircle{
  background-color: #192F60;
  transition: 0.2s;
}

.sort:hover .radioInnerCircle{
  background-color: #00000020;
}

.applyFilter:hover{
  background: red !important;
  color: white !important;
  transition: 0.25s;
}

.pageSelected{
  background-color: #8c96ab !important;
  color: white !important;
}

.bg-lightAqua{
  background: #F5F8FF;
}