body {
  margin: 0;
  background-color: #FBFBFB ;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img{
  z-index: -1;
  min-width: 100%;
  min-height: 960px;
  object-fit:cover;
}


.backdrop{
  background: linear-gradient(#9D0E0E10, rgba(47, 5, 5, 0.8));
}

.cl-db{
  color: #192F60 !important;
}

.cl-dg{
  color: #8C96AB;
}

#searchIcon{
  position: absolute;
  left: 1rem;
}

#inpLocation{
  border: none;
  min-height: 58px;
}

.navbar{
  z-index: 1;
}

#login:hover{
  color: #dc3545 !important;
  border-bottom: 2px solid #dc3545 !important;
  transition: 0.15s;
}

#register{
  min-width: 200px !important;
  cursor: pointer;
  transition: 0.15s;
}

#register:hover{
  background-color: white !important;
  color: #dc3545 !important;
  transition: 0.15s;
}

.searchItem{
  display: flex;
  align-items: center;
  background-color: white;
  min-height: 160px;
  padding: 0 !important;
  box-shadow: 0px 3px 6px #00000029;
  transition: 0.15s;
}

.-z-20{
  z-index: -20;
}
.-z-10{
  z-index: -10;
}
.z-0{
  z-index: 0;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.z-30{
  z-index: 30;
}

.searchItem img{
  min-width: 45%;
  height: 160px;
  object-fit: cover;
}

.searchItem div h5{
  font-size: 18px;
}
.searchItem p{
  font-size: 13px;
  font-weight: normal;
}

.searchItem:hover{
  transform: scale(1.025);
  transition: 0.15s;
}

@media (width<=769px) {

  #inpLocation{
    min-width: 37px;
  }
}

