body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit:cover;
  z-index: -1;
}


.cover{
  position: relative;
  height: 480px;
  background: linear-gradient(#9D0E0E00, #4F070799);
  color: white;
}

.cl-db{
  color: #192F60 !important;
}

#searchIcon{
  position: absolute;
  left: 1rem;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  font-size: 70px;
}

#inpLocation{
  border: none;
  min-height: 58px;
}

.title{
  font-size: 2rem;
  font-weight: 400;
}

.navbar{
  z-index: 1;
}

#login:hover{
  color: #dc3545 !important;
}

#register{
  min-width: 200px !important;
  cursor: pointer;
}

#register:hover{
  background-color: white !important;
  color: #dc3545 !important;
}

@media (width<=769px) {
  #logo{
    width: 90px;
    height: 90px;
    font-size: 42px;
  }

  .title{
    font-size: 28px;
  }

  #inpLocation{
    min-width: 37px;
  }
  
}

